  
// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan:hsl(192, 70%, 51%);
$brightBlue:hsl(175, 82%, 78%);
$darkCyan: hsl(204, 77%, 26%);
$grayishBlue: hsl(233, 8%, 62%);
$gray: hsl(0,0%,76.86%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$lemonYellow: hsl(56, 100%, 65%);
$lightYellow: hsl(60, 96%, 79%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;